<launch>
 <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
 <node pkg="image_transport" type="republish" name="android_camera_image_transport"
       args="compressed in:=/chat/status/camera/image raw out:=/chat/status/camera/image/raw" />
 <node pkg="usb_cam" type="usb_cam_node" name="client_usb_cam">
   <param name="~video_device" value="/dev/video0" />
   <remap from="/client_usb_cam/image_raw"
	  to="/chat/request/image/raw" />
   <remap from="/client_usb_cam/image_raw/compressed"
	  to="/chat/request/image/raw/compressed" />
 </node>
 <node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server" />

 <!-- audio -->
 <param name="ROSJAVA_VOICE_SPEAKER_REQUEST_TOPIC" value="/ros_chat/audio/out" />
 <param name="ROSJAVA_VOICE_MIC_DATA_TOPIC" value="/ros_chat/audio/in" />

 <node pkg="rosjava_test" type="run_audio_util_node.sh"
       name="audio_speaker" output="screen" args="SpeakerNode">
 </node>
 <node pkg="rosjava_test" type="run_audio_util_node.sh"
       name="audio_mic" output="screen" args="MicNode">
 </node>
</launch>
