<launch>
  <arg name="ROSJAVA_TEST_HOME" default="$(find rosjava_test)" />

  <include file="$(find rosjava_test)/rosjava_image_util/launch/eusimage_transport.launch">
    <arg name="ROSJAVA_TEST_HOME" value="$(arg ROSJAVA_TEST_HOME)" />
  </include>

  <node pkg="rosjava_test" type="run_shell.sh"
	name="aria_image_viewer_left" output="screen"
	args="&quot;rostopic pub -r 1 /eus_animeface/detect_request/string std_msgs/String \&quot;$(arg ROSJAVA_TEST_HOME)/rosjava_image_util/img/aria.jpg\&quot;&quot;" />

  <node pkg="rosjava_test" type="run_shell.sh"
	name="aria_image_viewer_right" output="screen"
	args="&quot;rostopic pub -r 1 /sensor_image_node/right/overlay/command/string std_msgs/String \&quot;$(arg ROSJAVA_TEST_HOME)/rosjava_image_util/img/aria.jpg\&quot;&quot;" />
</launch>
