<launch>
  <node pkg="rosjava_test" type="run_node.sh"
	name="sensor_image_node_left" output="screen" args="DumpImageNode" >
    <env name="com_image_pub_topic_name"
	 value="/image_window_node/left/image/in/compressed" />
    <env name="command_string_topic_name"
	 value="/sensor_image_node/left/command/string" />
  </node>

  <node pkg="rosjava_test" type="run_node.sh"
	name="sensor_image_node_right" output="screen" args="DumpImageNode" >
    <env name="com_image_pub_topic_name"
	 value="/image_window_node/right/image/in/compressed" />
    <env name="command_string_topic_name"
	 value="/sensor_image_node/right/command/string" />
  </node>

  <node pkg="rosjava_test" type="run_node.sh"
	name="image_window_node" output="screen" args="ImageWindowNode" >
  </node>

  <node pkg="rosjava_test" type="eus_animeface.l" name="eus_animeface"
	output="screen" >
    <remap from="/eus_animeface/feedback/outputpath"
	   to="/sensor_image_node/left/command/string" />
  </node>

  <node pkg="rosjava_test" type="publish_aria_image_path.sh"
	name="aria_image_viewer_left" args="/eus_animeface/detect_request/string" />

  <node pkg="rosjava_test" type="aria-viewer.l" name="aria_viewer_right"
	output="screen" >
    <remap from="/sensor_image_node/command/string"
	   to="/sensor_image_node/right/command/string" />
  </node>

  <!--
      <node pkg="image_transport" type="republish" name="rosjava_test_image_transport"
	args="compressed in:=/sensor_image_node/image/out compressed out:=/image_window_node/left/image/in" />
  -->
</launch>
