<launch>
  <arg name="ROSJAVA_TEST_HOME" default="$(find rosjava_test)" />
  <arg name="IMG_REPUB_NODE_NAME" default="image_republish_node" />
  <arg name="REPUB_OUTPUT_TOPIC" default="/ros_chat/request/image/raw" />

  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_node_for_republish">
    <remap from="/usb_cam_node_for_republish/image_raw/compressed"
	   to="/$(arg IMG_REPUB_NODE_NAME)/image/in/compressed" />
  </node>

  <node pkg="rosjava_test" type="run_node.sh"
	name="$(arg IMG_REPUB_NODE_NAME)" output="screen" args="ImageRepublishNode" >
    <env name="ROSJAVA_IMAGE_REPUBLISH_MAX_RATE" value="3.0" />
    <env name="ROSJAVA_IMAGE_REPUBLISH_SCALE" value="0.3" />
    <env name="ROSJAVA_IMAGE_REPUBLISH_NODE_NAME" value="$(arg IMG_REPUB_NODE_NAME)" />
  </node>

  <node pkg="image_transport" type="republish" name="image_transport_for_republish"
	args="compressed in:=/$(arg IMG_REPUB_NODE_NAME)/image/out compressed out:=$(arg REPUB_OUTPUT_TOPIC)" />

  <node pkg="image_view" type="image_view" name="image_view_for_republish"
	args="image:=$(arg REPUB_OUTPUT_TOPIC) _image_transport:=compressed">
  </node>

  <!-- For small image test -->

  <node pkg="image_transport" type="republish"
	name="image_transport_for_republish_small_in"
	args="compressed in:=/$(arg IMG_REPUB_NODE_NAME)/image/in compressed out:=/$(arg IMG_REPUB_NODE_NAME)_small/image/in" />

  <node pkg="rosjava_test" type="run_node.sh"
	name="$(arg IMG_REPUB_NODE_NAME)_small" output="screen"
	args="ImageRepublishNode" >
    <env name="ROSJAVA_IMAGE_REPUBLISH_MAX_RATE" value="3.0" />
    <env name="ROSJAVA_IMAGE_REPUBLISH_SCALE" value="0.1" />
    <env name="ROSJAVA_IMAGE_REPUBLISH_NODE_NAME"
	 value="$(arg IMG_REPUB_NODE_NAME)_small" />
  </node>

  <node pkg="image_transport" type="republish"
	name="image_transport_for_republish_small_out"
	args="compressed in:=/$(arg IMG_REPUB_NODE_NAME)_small/image/out compressed out:=$(arg REPUB_OUTPUT_TOPIC)/small" />

</launch>
