<launch>
  <!--
 <node pkg="rosjava_test" type="aria-beer.l" name="aria_beer" />
 -->
  <node pkg="rosjava_test" type="tagged-image-publisher.l" name="tagged_image_publisher" />
  <node pkg="ros2http" type="kduino_imu_converter.l" name="cup_ui_kduino_converter" >
    <remap from="/kduino/converted_imu" to="/cup_ui/kduino/converted_imu" />
    <remap from="/kduino/imu" to="/cup_ui/kduino/imu" />
  </node>
  <node pkg="image_transport" type="republish" name="android_kubi_image_transport"
	args="compressed in:=/camera/image_raw compressed out:=/ros_chat/request/image/raw" />
  <node pkg="image_transport" type="republish" name="android_ros_image_transport"
	args="compressed in:=/ros_chat/status/camera/image compressed out:=/kubi_chat/request/image/raw" />
  <include file="$(find rosjava_test)/kubi_chat/kubi/sound-client2.launch" />
</launch>
