<launch>
  <arg name="robot_type" default="aria" />
  <node pkg="roseus" type="roseus"
	name="aria_ss_controller"
	args="&quot;(progn (setq *robot-type* :$(arg robot_type)) (load \&quot;package://rosjava_test/kubi_chat/kubi/aria-ss-controller.l\&quot;))&quot;"
	output="log" />
  <node pkg="roseus" type="roseus"
	name="aria_imu_controller"
	args="&quot;(progn (setq *robot-type* :$(arg robot_type)) (load \&quot;package://rosjava_test/kubi_chat/kubi/aria-imu-controller.l\&quot;))&quot;"
	output="log" />
  <node pkg="roseus" type="roseus"
	name="qumarion2robot"
	args="&quot;(progn (setq *robot-type* :$(arg robot_type)) (load \&quot;package://rosjava_test/kubi_chat/kubi/qumarion2robot.l\&quot;))&quot;"
	output="log" />
  <!--
  <node pkg="rosjava_test" type="aria-beer.l"
	name="aria_beer_controller"
	output="screen" />
  -->
  <node pkg="rosjava_test" type="vibration-observer.l"
	name="vibration_observer_node" />
  <node pkg="rosjava_test" type="tagged-image-publisher.l"
	name="tagged_image_publisher" >
    <remap from="/aria/commandline" to="/aria/commandline/org" />
  </node>
  <node pkg="roseus" type="roseus"
	name="aria_record_viewer"
	args="&quot;(progn (setq *robot-type* :$(arg robot_type)) (load \&quot;package://rosjava_test/kubi_chat/kubi/aria-record-viewer.l\&quot;))&quot;"
	output="screen" />
  <!-- face detection -->
  <node pkg="opencv_face_recog_node"
	type="face_detect_node"
	name="face_detect_node" >
    <remap from="/face_detector/image/compressed"
	   to="/usb_cam_node_for_republish/image_raw/compressed" />
    <env name="FACE_DETECT_NODE_WINDOW_FLAG" value="1" />
  </node>
  <node pkg="opencv_face_recog_node"
	type="look_face.l"
	name="look_face_node" />
  <!-- -->
  <node pkg="aria_utils" type="sample_motion_publisher.py"
	name="sample_motion_publisher" />
  <node pkg="mei_talk_util" type="voice_echo.l" name="voice_echo_node" >
    <remap from="/voice_echo/mei" to="/ros_chat/text/string" />
  </node>

  <!--
  <node pkg="image_transport" type="republish"
        name="image_transport_for_small"
        args="raw in:=/aira_record_viewer/image/in/raw compressed out:=/ros_chat/request/image/raw/small" />
  -->
</launch>
