<launch>
  <param name="ROSJAVA_VOICE_SPEAKER_REQUEST_TOPIC" value="/kubi_chat/audio/in" />
  <param name="ROSJAVA_VOICE_MIC_DATA_TOPIC" value="/chat_server/audio/out" />
  <node pkg="rosjava_test" type="run_audio_util_node.sh"
	name="audio_speaker_client" output="screen" args="SpeakerNode">
  </node>
  <node pkg="rosjava_test" type="run_audio_util_node.sh"
	name="audio_mic_client" output="screen" args="MicNode">
  </node>
</launch>
